extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='phillipines')
			button(class="btn next", data-action="next") Next

		h2 Guam

		p
			| Heading northwest, the crew reached the equator on 13 February 1521. On 6 
			| March they reached the Marianas and Guam. Magellan called Guam the "Island of 
			| Sails" because they saw a lot of sailboats. They renamed as Ladrones Island 
			| (Island of Thieves) because many of the small boats of Trinidad were stolen there.
