extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='canaryislands')
			button(class="btn next", data-action="next") Next

		h2 Seville

		p
			| On 10 August 1519, the five ships under Magellan's command left Seville and descended the 
			| Guadalquivir River to Sanlúcar de Barrameda, at the mouth of the river. There they remained 
			| more than five weeks. Finally they set sail on 20 September.
