extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='guam')
			button(class="btn next", data-action="next") Next

		h2 Strait of Magellan

		p 
			| The journey resumed. The help of Duarte Barbosa was crucial in facing the riot in 
			| Puerto San Julian; Magellan appointed him as captain of the Victoria. The Santiago 
			| was sent down the coast on a scouting expedition and was wrecked in a sudden storm. 
			| All of its crew survived and made it safely to shore. Two of them returned overland 
			| to inform Magellan of what had happened, and to bring rescue to their comrades. After 
			| this experience, Magellan decided to wait for a few weeks more before resuming the voyage.
		p 

			| At 52°S latitude on 21 October, the fleet reached Cape Virgenes and concluded they had 
			| found the passage, because the waters were brine and deep inland. Four ships began an 
			| arduous trip through the 373-mile (600 km) long passage that Magellan called the Estrecho 
			| (Canal) de Todos los Santos, ("All Saints' Channel"), because the fleet travelled through 
			| it on 1 November or All Saints' Day. The strait is now named the Strait of Magellan. He 
			| first assigned Concepcion and San Antonio to explore the strait, but the latter, commanded 
			| by Gómez, deserted and returned to Spain on 20 November. On 28 November, the three remaining 
			| ships entered the South Pacific. Magellan named the waters the Mar Pacifico (Pacific Ocean) 
			| because of its apparent stillness.[19] Magellan and his crew were the first Europeans to 
			| reach Tierra del Fuego just east of the Pacific side of the strait.
