extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='capeverde')
			button(class="btn next", data-action="next") Next

		h2 Canary Islands

		p 
			| King Manuel I ordered a Portuguese naval detachment to pursue Magellan, but the explorer evaded 
			| them. The fleet stopped briefly in the Canary Islands for more provisions; later, Magellan learned 
			| that his suppliers had swindled him by misrepresenting the quantity and quality of supplies they 
			| provided.