extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='straitofmagellan')
			button(class="btn next", data-action="next") Next

		h2 Cape Verde

		p 
			| Twenty crewmen died of starvation before Elcano put into Cape Verde, a Portuguese 
			| holding, where he abandoned 13 more crew on 9 July in fear of losing his cargo of 26 
			| tons of spices (cloves and cinnamon).
	