extends layout

block content

	div.Magellan
		
		h1 Magellan's Voyage

		a(href='/')
			button(class="btn next", data-action="next") Start Over

		h2 Phillipines

		p 
			| On 17 March Magellan reached the island of Homonhon in the Philippines, with 
			| 150 crew left. Members of his expedition became the first Spaniards to reach 
			| the Philippine archipelago, but they were not the first Europeans.

		p
			| Magellan relied on Enrique, his Malay servant and interpreter, to communicate 
			| with the native tribes. He had been indentured by Magellan in 1511 after the 
			| colonization of Malacca, and had accompanied him through later adventures. They 
			| traded gifts with Rajah Siaiu of Mazaua[21] who guided them to Cebu on 7 April.

		p
			| Rajah Humabon of Cebu was friendly towards Magellan and the Spaniards; both he 
			| and his queen Hara Amihan were baptized as Christians. Afterward, Rajah Humabon 
			| and his ally Datu Zula convinced Magellan to kill their enemy, Datu Lapu-Lapu, 
			| on Mactan. Magellan wanted to convert Lapu-Lapu to Christianity, as he had Humabon, 
			| but Lapu-Lapu rejected that. On the morning of 27 April 1521, Magellan sailed to 
			| Mactan with a small attack force. During the resulting battle against Lapu-Lapu's 
			|troops, Magellan was struck by a bamboo spear, and later surrounded and finished off 
			| with other weapons.